@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-roboto;
}

.display_size {
  @apply xl:max-w-7xl lg:max-w-5xl md:max-w-4xl sm:max-w-2xl px-1 mx-auto;
}
.display_size_noPadding {
  @apply xl:max-w-7xl lg:max-w-5xl md:max-w-4xl sm:max-w-2xl mx-auto;
}

.display_size_compact {
  @apply xl:max-w-5xl lg:max-w-4xl sm:max-w-2xl px-1 mx-auto;
}

.material-symbols-rounded.filled {
  font-variation-settings: "FILL" 1;
}

nav.mobile_nav > div {
  width: 100%;
}

nav.mobile_nav > div > a {
  padding: 12px;
  display: block;
  width: 100%;
  text-align: center;
}

div.header_gradient {
  background: linear-gradient(
    to bottom,
    rgba(40, 48, 48, 0.8),
    rgba(40, 48, 48, 1)
  );
}

section.hero {
  background-color: #7ae7c7;
  opacity: 0.8;
  background: linear-gradient(135deg, #76d0b555 25%, transparent 25%) -40px 0/
      80px 80px,
    linear-gradient(225deg, #76d0b5 25%, transparent 25%) -40px 0/ 80px 80px,
    linear-gradient(315deg, #76d0b555 25%, transparent 25%) 0px 0/ 80px 80px,
    linear-gradient(45deg, #76d0b5 25%, #7ae7c7 25%) 0px 0/ 80px 80px;
}

div.profile_card {
  box-shadow: 1px 1px 20px 2px rgba(40, 48, 48, 1);
  -webkit-box-shadow: 1px 1px 20px 2px rgba(40, 48, 48, 1);
  -moz-box-shadow: 1px 1px 20px 2px rgba(40, 48, 48, 1);
}

div.curve {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0 80%);
  /* clip-path: circle(250% at 50% -300%); */
}
